.item-list-participants {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 20px;

  border-bottom: 1px solid var(--border-color-light);

  padding: 10px;
}

.item-list-participants .select-button {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 3px solid var(--border-color);
}

.item-list-participants .select-button.selected {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.item-list-participants .participant-name {
  flex: 1;
}

.item-list-participants p {
  opacity: 0.8;
  font-size: 21px;
}
