.item-list-participants {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 20px;

  border-bottom: 1px solid var(--border-color-light);

  padding: 10px;
}

.item-list-participants .select-button {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 3px solid var(--primary-color-dark);
}

.item-list-participants .select-button.selected {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.item-list-participants .participant-name {
  flex: 1;
}

.item-list-participants p {
  opacity: 0.8;
  font-size: 21px;
}

.item-list-participants .actions {
  width: fit-content;
  display: flex;
}

.item-list-participants .actions button {
  width: 30px;
  height: 30px;
  font-size: 20px;

  background-color: transparent;

  transition: 150ms;

  cursor: pointer;
}

.item-list-participants .actions button:hover {
  opacity: 0.8;
  color: var(--primary-color-dark);
}
