.details-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color);
}

.details-page .churras-details {
  max-width: 100%;
  width: 636px;

  display: flex;
  flex-direction: column;

  background-color: #fff;

  margin-top: -40px;
  padding: 24px;

  z-index: 5;
}

.details-page .churras-details .actions-header {
  display: flex;

  width: 100%;
  margin-bottom: 20px;
}

.details-page .churras-details .actions-header button {
  background-color: transparent;
  color: var(--primary-color-dark);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: fit-content;
  height: 30px;

  flex: 1;

  font-size: 20px;

  transition: 200ms;

  border-radius: 5px;

  cursor: pointer;
}

.details-page .churras-details .actions-header button:hover {
  color: var(--primary-color-dark);
  font-weight: bold;
  opacity: 0.8;
}

.details-page .churras-details .actions-header button.button-delete:hover {
  color: var(--danger-color);
  font-weight: bold;
}

.details-page .churras-details .actions-header button:hover label {
  width: 70px;
  transition: 500ms;
}

.details-page .churras-details .actions-header button label {
  width: 0;
  font-size: 16px;
  cursor: pointer;

  overflow: hidden;
}

.details-page .churras-details .header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  padding-bottom: 20px;
}

.details-page .churras-details .header .header-observations {
  opacity: 0.8;
  font-size: 12px;
}

.details-page .churras-details .header h1 {
  opacity: 0.8;
}

.details-page .churras-details .header > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-page .churras-details .header > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.details-page .list-participants {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 10px;

  gap: 10px;
}
